div {
    display: flex;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: raleway, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: white;
    line-height: 130%;
}

li {
  margin-bottom: 12px;
}
.heading {
  font-family: raleway, sans-serif;
  font-weight: 400;
  font-size: 24px;
  color:white;
  line-height: 130%;
  max-width: 800px;
}

.centered-text {
  text-align: center;
  justify-content: center;
}

a:-webkit-any-link {
  color: rgb(110, 13, 180);
}

/* Main container styles */
.container {
    width:auto;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  /* nav bar styles */

  .nav-bar-header {
    align-self: stretch;
    height: min-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  .nav-bar-header .nav-bar-contents {
    align-self: stretch;
    padding: 24px 48px;
    background: #0B0A0B;
    border-bottom: 1px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-bar-header .logo {
    color: white;
    font-size: 20px;
    font-family: Playfair Display;
    font-style: italic;
    font-weight: 400;
    line-height: 18px;
    word-wrap: break-word;
  }
  
  .nav-bar-header .nav-links {
    flex: 1;
    height: 21px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .nav-bar-header .nav-link {
    text-align: center;
    color: white;
    font-size: 16px;
    font-family: Raleway, sans-serif;
    font-weight: 400;
    line-height: 20.80px;
    word-wrap: break-word;
    margin-left: 57px;
  }

  .nav-link {
    cursor: pointer;
  }

  .nav-link:hover {
    font-style: italic;
  }
  
  /* Main content styles */
  .main-content {
      align-self: stretch;
      background: #2c2c2c;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: column;
    }

  .header {
    background-image: url('images/mfp/header-background.png');
    background-size: cover;
    background-position: bottom;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .header-image {
    width: 80vw;
    padding: 100px 0;
  }

  /* main-content styles */

  .main-content {
    align-self: stretch;
    background: #0F0F0F;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    align-items: center;
    gap: 92px;
    padding: 0 48px;
  }

  /* heading-text pair style */
  
  .ht-pair {
    flex-direction: column;
    gap: 24px;
  }

  /* introduction and context styles */

  .introduction {
    flex-direction: column;
    align-items: center;
    gap: 80px;
  }

  .title{
    max-width: 1200px;
    font-size: 44px;
    color: white;
    text-align: center;
    line-height: normal;
  }

  .context {
    max-width: 800px;
    flex-direction: row;
    gap: 48px;
    flex-wrap: wrap;
  }

  .context-left{
    flex-direction: column;
    width: 25%;
    gap: 24px;
  }
  
  .context-right{
    flex-direction: column;
    width: 65%;
    gap: 8px;
  }

  .context-left-detail{
    flex-direction: column;
    gap: 8px;
  }

  /* Divider styles */
.divider {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}

.left-side-divider {
  width: 360px;
  height: 0px;
  border: 1px white solid;
}

.right-side-divider {
  width: max-content;
  gap: 24px;
}

.right-line-divider {
  width: 100%;
  height: 0px;
  border: 1px white solid;
}

.divider-text {
  font-size: 16px;
  font-family: playfair display, serif;
  font-style: italic;
  white-space: nowrap;
}

.sub-section {
  flex-direction: column;
  gap: 72px;
  width: 100%;
  align-items: center;
}

  /* The problem section styles */

.the-problem-body {
  max-width: 800px;
}

  /* The problem section styles */

.the-solution-body {
  max-width: 1440px;
  flex-direction: row;
  align-items: center;
  gap: 64px;
}

.solution-text {
  flex-direction: column;
  max-width: 584px;
  min-width: 500px;
  gap: 72px;
}

/* .solution-item {
  flex-direction: column;
  gap: 24px;
} */

.solution-image-container img {
  max-width: 600px;
  min-width: 400px;
  align-self: stretch;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* User Research Sub-section styles */

.user-research-body {
  flex-direction: column;
  gap: 72px;
}

.user-research-text {
  flex-direction: column;
  max-width: 800px;
}

.scrollable-container {
  width: 768px; /* Set a fixed width for the container */
  overflow-x: auto; /* Enable horizontal scrolling */
  height: 432px;
}

.scrollable-content {
  white-space: nowrap;
  gap: 16px;
  object-fit: cover;
}

/* key pain points */

.key-pain-points-body {
  flex-direction: column;
  gap: 64px;
  max-width: 800px;
}

.pain-point {
  width: 100%;
}

/* lit analysis  */

.lit-analysis-body {
  flex-direction: column;
  max-width: 800px;
}

.lit-analysis-text {
  flex-direction: column;
  gap: 0;
}

/* competitive analysis */

.competitive-analysis-body {
  max-width: 840px;
  flex-direction: column;
  gap: 64px;
  align-items: center;
}

.competitive-analysis-text {
  max-width: 800px;
}

.competitor-icon-container {
  width: 100%;
  flex-direction: row;
  justify-content: center;
  gap: 64px;
  flex-wrap: wrap;
}

.competitor-identifier {
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.competitor-icon {
  width: 116px;
  height: 116px;
  border-radius: 24px;
  object-fit: cover;
}

.swot-container {
  max-width: 840px;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
}

.swot-card {
  width: 400px;
  height: 240px;
  object-fit: cover;
  border-radius: 24px;
}

/* jobs to be done */

.jobs-tbd-body {
  flex-direction: column;
  gap: 96px;
  justify-content: center;
  align-items: center;
}

.jobs-tbd-text {
  max-width: 800px;
}

.hmw-section {
  gap: 24px;
  flex-direction: column;
}

.hmw-indiv-section {
  gap: 24px;
  flex-direction: column;
  align-items: center;
}

.hmw-container {
  flex-direction: row;
  width: fit-content;
  flex-wrap: wrap;
  justify-content: center;
}

.hmw {
  width: 180px;
  height: 207px;
  object-fit: cover;
}

.funky-sizing{
  transform: scale(1.1);
}

/* navigation issues section */

.nav-issues-body {
  max-width: 1120px;
  gap: 80px;
  flex-direction: column;
  align-content: center;
}

.nav-issue {
  gap: 48px;
  max-width: 1000px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.nav-issue-text {
  width: 45%;
  min-width: 400px;
}

.nav-issue-img {
  width: 50%;
  min-width: 400px;
  object-fit: scale-down;
}

.nav-issue-visual {
  flex-direction: column;
  align-items: center;
}

.nav-issue-iterations {
  flex-direction: row;
  gap: 36px;
}

.iteration {
  flex-wrap: wrap;
  flex-direction: row;
  width: 50%;
  gap: 24px;
  justify-content: center;
}

.iteration-1-text {
  width: 40%;
  min-width: 200px;
  align-self: flex-end;
}

.iteration-2-text {
  width: 40%;
  min-width: 200px;
  /* align-self: flex-end; */
}

.iteration-img {
  object-fit: scale-down;
  min-width: 200px;
  width: 50%;
}

/* cc styles */

.cc-body {
  max-width: 1000px;
  gap: 48px;
}

.cc-text {
  max-width: 648px;
  gap: 64px;
}

.cc-item-container {
  flex-direction: column;
  gap: 64px;
  max-width: 648px;
}

.cc-img-container {
  flex-direction: column;
  justify-content: space-between;
  max-width: 324px;
  min-width: 200px;
}

.cc-img {
  width: 100%;
  object-fit: scale-down;
}